/* Footer.css */
footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: relative;
    margin-top: 4%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }
  