/* Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #e2e1e0;
}

.title{
  color: indigo;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Default link color */
}

nav ul li.active a {
  color: #007bff; /* Active link color */
}
